#flex_form{
    display:flex;
    margin: 0 10px;
}
#picture_form_h{
    border:medium;
    text-align:center;
    background-color:rgb(175, 175, 175);
    margin-left:0;
    width:50%;
    height:50%;
    padding:5px;
    border-radius:10px;
}
#timer_form_h{
    border:medium;
    text-align:center;
    background-color:rgb(175, 175, 175);
    margin-left:0;
    width:50%;
    height:50%;
    padding:5px;
    border-radius:10px;
    margin-left:20px;
}
#all_form{
    text-align:center;
    background-color:white;
    padding:10px;
    margin:auto;
    border-radius:15px;
}
.all{
    background-color:aquamarine;
    padding:10px;
}
ul{
    list-style-position: inside;
}
ol{
    list-style-position: inside;
}
